$breakpoints: (
  'sm': 320px,
  'med': 768px,
  'lg': 1024px
); 

// $themes: (
//   theme-light: ghostwhite,
//   theme-dark: #666,
//   theme-purple: #8e44ad,
// )

$color-primary: #3fd8d3;
$color-secondary: #ac2c88;
$color-bg: darken($color-primary, 52%);



