/*----------------------
Cards
----------------------*/

@use "../util" as *;

.card {
  background-color: $color-bg;
  caret-color: transparent;
  .card-text,
  .card-text-2,
  .card-city,
  .card-name,
  .card-images {
    pointer-events: none;
  }
  .card-email {
    pointer-events: all;
  }
}

.card-row, .card-grid {
  box-shadow: inset 0 0 10px 3px rgba($color-primary, .08);
  background-color: $color-bg;
  color: $color-primary;
  border-radius: 10px;
  &:hover {
    transition: all .2s ease-out;
    border-left: 10px solid $color-primary;
    border-radius: 0 10px 10px 0;
  }
}

.card-row {
  .card-img-med,
  .card-img-lg,
  .card-email,
  .card-city,
  .card-text-2 {
    display: none;
  }
  @include flexboi(
    flex,
    flex-start,
    center,
    $gap: 10px
  );
  border-radius: 10px;
  padding: 7px 7px 7px 10px;
}

.card-grid {
  text-align: center;
  padding: 10px;
  
  .card-img-tmb,
  .card-img-lg,
  .card-email,
  .card-city,
  .card-text-2 {
    display: none;
  }

  .card-images img {
    margin: 0 auto;
    margin-bottom: 5px;
    border: 3px solid $color-primary;
  } 
}

img {
  border-radius: 50%;
}

.card-modal {
  text-align: center;

  .card-img-tmb,
  .card-img-med {
    display: none;
  }

  .card-text-1,
  .card-text-2 {
    padding: 5px 0;
    border-bottom: 3px solid $color-primary;
  }

  .card-images {
    
    position: relative;
    width: 134px;
    height: 134px;
    margin: 5px auto;
    background-color: $color-bg;
    border: 3px solid $color-primary;
    
    img {
      pointer-events: auto;
      position: relative;
      z-index: 2;
      &:hover {
        transform: scale(1.1);
        outline: 3px solid $color-primary;
        transition: all .1s ease-in;
      }
    }

    &::before {
      transition: left .1s;
      content: '';
      position: absolute;
      left: -4px;
      bottom: -4px;
      width: 110px;
      height: 110px; 
      background-color: $color-bg;
    }
    &::after {
      transition: right .1s;
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      width: 110px;
      height: 110px; 
      background-color: $color-bg;
    }
    
    &:hover::before {
      transition: left .4s;
      left: 22px;

    }

    &:hover::after {
      transition: right .4s;
      right: 22px;

    }
  }
}

@include mqboi('med') {
  .card-grid {
    .card-email,
    .card-city {
      display: block;
    }
  }

  .card-modal {
    text-align: left;
    font-size: 1.1em;
    @include flexboi(
      flex,
      flex-start, 
      center,
    );

    .card-images {
      margin: 0 15px;
    }

    .card-text {
      flex-grow: 1;
    }

    .card-text-2 {
      border: none;
    }
  }
}

