/*----------------------
Main
----------------------*/

@use "../util" as *;

.header-container, .directory-container {
  max-width: 1200px;
  margin: 0 auto;
}

.directory-container {
  padding: 10px;
  @include flexboi(
    flex,
    space-between,
    $dir: column
  );
}

.row-layout {
  @include gridboi(
    1fr,
    auto,
    $gap: 5px
  );
}

.grid-layout {
  @include gridboi(
    1fr 1fr,
    auto,
    $gap: 10px
  );
}

@include mqboi('med') {
  .row-layout {
    grid-template-columns: 1fr 1fr;
  }

  .grid-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include mqboi('lg') {
  .row-layout {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}