/*----------------------
Main
----------------------*/

@use "../util" as *;

.directory-container {
  height: calc(100vh - 100px);
  @include flexboi(
    flex,
    space-between,
    $dir: column
  );
}

#grid-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.paging-btns {
  margin-top: auto;
  margin-bottom: 200px;
}

.row-layout {
  background-color: salmon;
  @include gridboi(
    1fr,
    auto,
  );
}

.grid-layout {
  background-color: lightblue;
  @include gridboi(
    1fr 1fr,
    auto,
  );
}

@include mqboi('med') {
  .row-layout {
    grid-template-columns: 1fr 1fr;
  }

  .grid-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}