/*----------------------
Header
----------------------*/

@use "../util" as *;

header {
  background-color: $color-bg;
  min-height: 100px;
  h1 {
    padding: 10px;
    font-size: 1.8em;
  }
}

.user-search {
  width: 100%;
  padding: .5em;
}

.options {
  padding: 0 10px;
}

.search-container, .quantity-option, .view-options {
  padding-bottom: 4px;
}

.view-options, .quantity-option, .search-container {
  @include flexboi(
    flex,
    space-between,
    center,
    $gap: 4px
  );
}

.quantity-option label {
  flex-grow: 1;
}

@include mqboi('med') {
  .search-quantity-options {
    @include flexboi(
      flex,
      space-between
    );
  }
}