/*----------------------
Modal
----------------------*/

@use "../util" as *;

.modal {
  overflow: hidden;
  width: 275px; 
  height: 400px;
  padding: 0;
  background-color: $color-primary;
  border: none;
  clip-path: polygon(0% 0%, 218px 0%, 100% 57px, 100% 100%, 57px 100%, 0% 343px);
  border-radius: 10px;
  &::backdrop {
    background: rgba($color-bg, .9);
  }
}

.modal-clip {
  @include flexboi(
    flex,
    space-between,
    center,
    column
  );
  align-self: center;
  margin: 5px auto;
  margin-bottom: auto;
  width: 265px; 
  height: 390px;
  background-color: $color-bg;
  clip-path: polygon(0% 0%, 210px 0%, 100% 55px, 100% 100%, 55px 100%, 0% 335px);
  border-radius: 10px;

  .close-modal-btn {
    align-self: flex-start;
  }

  .modal-btns {
    align-self: flex-end;
  }
}

@include mqboi('med') {
  .modal {
    width: 500px; 
    height: 250px;
    clip-path: polygon(0% 0%, 443px 0%, 100% 57px, 100% 100%, 57px 100%, 0% 193px);
  }
  
  .modal-clip {
    justify-content: space-between;
    width: 490px; 
    height: 240px;
    clip-path: polygon(0% 0%, 435px 0%, 100% 55px, 100% 100%, 55px 100%, 0% 185px);
    .modal-card-insert {
      width: 100%;
      align-self: flex-start;
      margin-bottom: 0;
    }
  }
}