/*----------------------
Inputs and Buttons
----------------------*/

@use "../util" as *;

button, input, select, .counter {
  min-height: 36px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: lighten($color-bg, 10%);
  &:hover, &:focus, &:active {
    transition: all .2s ease-out;
    background-color: $color-primary;
    color: $color-bg;
  }
}

button {
  cursor: pointer;
  caret-color: transparent;
  min-width: 36px;
  &:hover {
    transition: all .2s ease-out;
    background-color: $color-primary;
    color: $color-bg;
    i {
      color: $color-bg;
    }
  }
}

#layout-rows-btn {
  margin-left: auto;
}

.generate-btn, #quantity-selector, #page-selector {
  min-width: 76px;
  padding: 0.5em;
}

.paging-btns, .page-select-btns, .layout-theme-options {
  @include flexboi(
    flex, 
    space-between,
    center,
    $gap: 4px
  );
}

.counter {
  text-align: center;
  width: 36px;
  min-height: 36px;
  line-height: 36px;
}

#page-selector {
  &:hover, &:focus {
    transition: all .2s ease-out;
    background-color: lighten($color-bg, 10%);
    color: $color-primary;
  }
}

#hide-label {
  display: none;
}

@include mqboi('med') {
  #hide-label {
    display: initial;
  }
  #layout-rows-btn {
    margin-left: initial;
  }
}








