/*----------------------
Card
----------------------*/

@use "../util" as *;

.card {
  caret-color: transparent;
  img,
  .card-text-1,
  .card-text-2 {
    pointer-events: none;
  }
  .card-email {
    pointer-events: all;
  }

}


.card-row {
  .card-img-med,
  .card-img-lg,
  .card-email,
  .card-city,
  .card-text-2 {
    display: none;
  }
}

.card-grid {
  .card-img-tmb,
  .card-img-lg,
  .card-text-2 {
    display: none;
  }
}

.card-modal {
  .card-img-tmb,
  .card-img-med {
    display: none;
  }
}

